*.application
*.cache
*.compiled
*.CopyComplete
*.deploy
*.dll
*.exe
*.fdx~
*.gz
*.isl
*.Iref
*.manifest
*.map
*.nupkg
*.pdb
*.ps1
*.props
*.psd1
*.psm1
*.pubxml
*.rar
*.resources
*.svg
*.targets
*.tf1
*.tfb
*.transform
*.psp
*.user
*.vspscc
*.woff
*.xdt
*.zip
*.db.lock
